<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Chanel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series">
          <td>
            <dd class="id">{{s.id}}</dd>
          </td>
          <td>
            <dd class="name">{{s.name}}</dd>
          </td>
          <td>
            <dd class="channel">{{s.channel}}</dd>
          </td>
          <td>
            <dd class="seasons">{{s.seasons}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <div class="SeasonsAverage">
      <p class="text-center">Seasons Average: {{ averageSeasons }}</p>
    </div>
  </div>
</div>
